ARCHIVE_BASE_URL=
ARCHIVE_USERNAME=
ARCHIVE_PASSWORD=
ARCHIVE_FROM_ADDRESS=
ARCHIVE_FROM_PERSONAL=
ARCHIVE_SELECT_SIGN=0
ARCHIVE_PRIORITY=3
ARCHIVE_TIMEOUT_SEC=20
ARCHIVE_VERIFY_SSL=true
ARCHIVE_SEND_ENABLED=false

BUSINESS_CARD_VENDOR_TO=
BUSINESS_CARD_VENDOR_CC=
BUSINESS_CARD_MAILBOX_FOLDER=INBOX
BUSINESS_CARD_MAILBOX_SEARCH=
BUSINESS_CARD_MAILBOX_TAKE=30
BUSINESS_CARD_MAILBOX_KEYWORDS=명함
BUSINESS_CARD_REQUEST_SENDERS=
BUSINESS_CARD_MONITOR_INTERVAL_SEC=60
ARCHIVE_CA_BUNDLE=